<!DOCTYPE html>
<html lang="en">
  <%- include('components/head', { title: 'Read' }) %>
  <body>
    <%- include('components/navbar', { sess: sess }) %>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <p class="display-4"><%= data.title %></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="text-muted"><%= data.verse %></h2>
          <p class="text-muted">By: <%= `${data.User.firstName} ${data.User.lastName}` %></p>
          <p class="text-muted"><%= `${data.createdAt.getFullYear()}-${data.createdAt.getMonth()}-${data.createdAt.getDate()}` %></p>
          <blockquote class="blockquote">
            <% const contentLines = data.content.split('\n') %>
            <% contentLines.forEach((element) => { %>
              <p class="mb-3"><%= element || ' ' %></p>
            <% })%>
          </blockquote>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <% if (sess.userid === data.User.id) { %>
            <a href="/write/<%= data.id %>/edit" class="btn btn-secondary">Edit</a>
          <% } %>  
        </div>
      </div>
    </div>
    <%- include('components/bottomSpace') %>
  </body>
</html>
