<!DOCTYPE html>
<html lang="en">
  <%- include('components/head', { title: 'Edit Stor' }) %>
  <body>
    <%- include('components/navbar', { sess: sess }) %>
    <%- include('components/errorMessages', { errorMessages: errorMessages }) %>
    <div class="container mt-3">
      <p class="h1">Edit Story</p>
    </div>
    <div class="container mt-3">
      <form action="/write/<%= data.id %>/edit" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="<%= data.title %>" placeholder="e.g. Be humble">
        </div>
        <div class="form-group">
          <label for="verse">Verse</label>
          <input type="text" class="form-control" id="verse" name="verse" value="<%= data.verse %>" placeholder="e.g. Paslm 1:7">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" name="content" rows="12" placeholder="Write your story here"><%= data.content %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-danger">Cancel</a>
      </form>
    </div>
    <%- include('components/bottomSpace') %>
  </body>
</html>
